body{
    background-image: url(images.jpg);}
#one{
        color:rgb(238, 73, 13);
    }
#two{
    margin-top: 20px;

}
#three{
    margin-top: 20px;
}
#four{
    margin-top: 20px;
}
#five{
    margin-top: 20px;
}
#six{
    margin-top: 20px;
}
#seven{
    margin-top: 20px;
    background-color: blue;
    margin: 20px;
    
}